#player2_name {
    position: absolute;
    color: red;
    font-size: 40px;
    left: 1%;
    top: -40px;
}

#player2_hp {
    position: absolute;
    color: red;
    font-size: 40px;
    left: 145px;
    top: -40px;
}

#deck_count_p2 {
    font-size: 45px;
    position: absolute;
    right: 700px;
    top: 55px;
    color: red;
}

#deck_ui_p2 {
    font-size: 30px;
    position: absolute;
    right: 740px;
    top: 80px;
    color: red;
}

#mana_count_p2 {
    color: red;
    font-size: 45px;
    position: absolute;
    right: 700px;
    top: -35px;
}

#mana_ui_p2 {
    color: blue;
    font-size: 30px;
    position: absolute;
    right: 735px;
    top: -10px;
}

#hand_count_p2 {
    color: red;
    font-size: 20px;
    position: absolute;
    left: 650px;
    top: -10px;
}