#player2_name {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 10px;
    top: -40px;
}

#player2_hp {
    position: absolute;
    color: red;
    font-size: 40px;
    left: 145px;
    top: -40px;
}

#deck_count_p2 {
    font-size: 40px;
    position: absolute;
    right: 670px;
    top: 80px;
    color: white;
}

#deck_ui_p2 {
    font-size: 40px;
    position: absolute;
    right: 720px;
    top: 80px;
    color: white;
}

#mana_count_p2 {
    color: white;
    font-size: 40px;
    position: absolute;
    right: 670px;
    top: -31px;
}

#mana_ui_p2 {
    color: white;
    font-size: 40px;
    position: absolute;
    right: 715px;
    top: -35px;
}

#hand_count_p2 {
    color: white;
    font-size: 20px;
    position: absolute;
    left: 650px;
    top: -10px;
}